<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.dao.TestInputMapper">
    <insert id="addTestInput" parameterType="TestInput">
        insert
        into testrepo.test_input (name, input,output,permissibleError)
        VALUES (#{name},#{input},#{output},#{permissibleError})
    </insert>

    <delete id="deleteTestInput" parameterType="_int">
        delete from testrepo.test_input where id=#{id}
    </delete>

    <update id="updateTestInput" parameterType="TestInput">
        update testrepo.test_input
            set name = #{name},input=#{input},output=#{output},permissibleError=#{permissibleError}
        where id=#{id};
    </update>

    <select id="queryAllTestInput" resultType="TestInput">
        select * from testrepo.test_input
    </select>

    <select id="queryTestInputByName" resultType="TestInput">
        select * from testrepo.test_input where name like #{name}
    </select>


    <select id="queryTestInputByID" resultType="TestInput" parameterType="_int">
        select * from testrepo.test_input where id=#{id}
    </select>
</mapper>